ul,
li {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url(../../public/Rectangle\ 19@2x.png) no-repeat;
  background-size: 100% 50%;
}
.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding-top: 22px;
}
.ms {
  margin-top: -5px;
  margin-left: 120px;
  font-weight: bolder;
  font-size: 30px;
}
.ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 24px;
  margin-right: 200px;
  font-size: 16px;
  line-height: 24px;
}
.programme {
  text-align: center;
  height: 82px;
  margin-top: 149px;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 70.31px;
}
.study {
  text-align: center;
  height: 36px;
  margin-top: 70px;
  color: #666666;
  font-size: 24px;
  line-height: 28.13px;
}

.classify {
  height: 55px;
  margin-top: 189px;
  color: #333333;
  font-weight: bold;
  font-size: 40px;
  line-height: 46.88px;
}
.comb {
  height: 36px;
  margin-top: 16px;
  color: #666666;
  font-size: 24px;
  line-height: 28.13px;
}
.lei {
  display: flex;
  width: 1208px;
  height: 96px;
  margin-top: 60px;
  overflow: hidden;
  li {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 282px;
    height: 96px;
    margin-right: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8efd9f, #07cbfb);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 96px;
      margin-left: 24px;
      p {
        font-weight: 500;
        font-size: 18px;
        margin-top: 14px;
      }
    }
    & p:nth-child(2) {
      height: 56px;
      margin-top: 15px;
      margin-right: 24px;
      font-weight: bolder;
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.tutorial {
  height: 55px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 40px;
  line-height: 46.88px;
}
.help {
  height: 36px;
  margin-top: 16px;
  color: #666666;
  font-size: 24px;
  line-height: 28.13px;
}
.helpbox {
  display: flex;
  justify-content: space-around;
  width: 1250px;
  height: 400px;
  margin-top: 60px;
  padding: 0;
  >li {
    width: 384px;
    height: 400px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8efd9f, #07cbfb);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  li:nth-child(1) > div:nth-child(1) {
    width: 384px;
    height: 120px;
    font-size: 24px;
    line-height: 120px;
    text-align: center;
    background: url(../../public/Mask\ group.png) no-repeat;
    background-size: 100% 100%;
  }
  li:nth-child(1) > div:nth-child(2) {
    width: 336px;
    height: 110px;
    margin-top: 24px;
    margin-left: 24px;
  }
  li:nth-child(1) > div:nth-child(3) {
    width: 336px;
    height: 110px;
    margin-top: 20px;
    margin-left: 24px;
  }

  li:nth-child(2) > div:nth-child(1) {
    width: 384px;
    height: 120px;
    font-size: 24px;
    line-height: 120px;
    text-align: center;
    background: url(../../public/Mask\ group1.png) no-repeat;
    background-size: 100% 100%;
  }
  li:nth-child(2) > div:nth-child(2) {
    width: 336px;
    height: 110px;
    margin-top: 24px;
    margin-left: 24px;
  }
  li:nth-child(2) > div:nth-child(3) {
    width: 336px;
    height: 110px;
    margin-top: 20px;
    margin-left: 24px;
  }
  li:nth-child(3) > div:nth-child(1) {
    width: 384px;
    height: 120px;
    font-size: 24px;
    line-height: 120px;
    text-align: center;
    background: url(../../public/Mask\ group2.png) no-repeat;
    background-size: 100% 100%;
  }
  li:nth-child(3) > div:nth-child(2) {
    width: 336px;
    height: 110px;
    margin-top: 24px;
    margin-left: 24px;
  }
  li:nth-child(3) > div:nth-child(3) {
    width: 336px;
    height: 110px;
    margin-left: 24px;
  }
}
.disc {
  width: 4px;
  height: 4px;
  margin-top: 8px;
  margin-right: 5px;
  background-image: linear-gradient(to right, #66e4df, #d2f752);
  border-radius: 50%;
}
.title {
  display: flex;
  width: 336px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.imgbox {
  width: 336px;
  height: 75px;
  margin-top: 8px;
  border: 1px #ccc solid;
  p{
    font-size: 12px;
    margin-left: 18px;
    margin-top: 12px;
  }
  img {
    margin-left: 18px;
  }
}
.imgbox2 {
  width: 336px;
  height: 64px;
  margin-top: 8px;
  border: 1px #ccc solid;
  p{
    font-size: 12px;
    margin-left: 18px;
    margin-top: 6px;
  }
  img {
    margin-left: 18px;
  }
}
.imgbox3 {
  width: 336px;
  height: 96px;
  margin-top: 8px;
  border: 1px #ccc solid;
  display: flex;
  ul{
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    li{
      font-size: 14px;
    }
  }
  img {
    margin-top: 8px;
    margin-left: 40px;
  }
}
.about {
  margin-top: 120px;
  font-weight: bold;
  font-size: 40px;
}
.box {
  display: flex;
  width: 1200px;
  height: 280px;
}
.text {
  width: 744px;
  height: 200px;
  margin-top: 24px;
  color: #666666;
  font-size: 24px;
  line-height: 1.4;
}
.img {
  width: 432px;
  height: 200px;
  margin-top: 24px;
  margin-left: 24px;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 240px;
  margin-top: 120px;
  background: url(../../public/Rectangle\ 22.png) no-repeat;
  background-size: 100% 100%;
  > div {
    width: 1440px;
    height: 240px;
    ul:nth-child(1) {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin-top: 48px;
      margin-left: 120px;
      li {
        width: 300px;
        height: 24px;
        font-size: 16px;
        line-height: 19px;
        text-align: start;
      }
      li:nth-child(1) {
        font-weight: bolder;
        font-size: 30px;
      }
    }
    ul:nth-child(2) {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin-top: 10px;
      margin-left: 120px;
      li {
        width: 300px;
        height: 24px;
        color: #666;
        font-size: 12px;
      }
      li:nth-child(1) {
        width: 230px;
        margin-right: 70px;
        font-size: 16px;
      }
    }
  }
}
.down {
  position: absolute;
  bottom: 200px;
  left: 100px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ddd;
  border-radius: 30px;
}
.shop {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  width: 300px;
  margin-left: 20px;
}
.shopDelete {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 95px;
  text-align: center;
  background: #333;
  opacity: 0;
}
.shopDelete:hover {
  opacity: 1;
}
.down {
  position: absolute;
  bottom: 200px;
  left: 30px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ddd;
  border-radius: 30px;
}
.down:hover {
  cursor: pointer;
}
.down1 {
  position: absolute;
  bottom: 200px;
  left: 200px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ddd;
  border-radius: 30px;
}
.down1:hover {
  cursor: pointer;
}
a{
  text-decoration: none; /* 去除默认的下划线 */
  color: #000;    /* 去除默认的颜色和点击后变化的颜色 */
}