* {
  margin: 0;
  padding: 0;
}
.head {
  width: 100%;
  height: 100px;
  padding-left: 45%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  background: #000;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 60px;
}
.svg {
  width: 250px;
  height: 100px;
}

.box {
  position: absolute;
  top: 0;
  left: 50px;
  width: 140px;
  height: 140px;
  background: #696969;
  border: #000 1px solid;
  opacity: 0;
  div {
    width: 140px;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
}
.box:hover {
  opacity: 1;
}
.iconbox:hover {
  background: #000;
  cursor: pointer;
}
.iconbox:hover .icon {
  color: aqua;
}
.icon {
  color: #fff;
  font-size: 50px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  width: 2050px;
  margin: 0 auto;
  background: #fff;
}
.ul {
  display: flex;
  li {
    width: 40px;
    height: 40px;
  }
}
.ul :nth-child(1) {
  background: #43978f;
}
.ul :nth-child(2) {
  background: #9ec4be;
}
.ul :nth-child(3) {
  background: #abd0f1;
}
.ul :nth-child(4) {
  background: #dce9f4;
}
.ul :nth-child(5) {
  background: #e56f5e;
}
.ul :nth-child(6) {
  background: #f19685;
}
.ul :nth-child(7) {
  background: #f6c957;
}
.ul :nth-child(8) {
  background: #ffb77f;
}
.ul :nth-child(9) {
  background: #fbe8d5;
}
.bigsvg {
  width: 180px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
.shop {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  width: 300px;
  margin-left: 20px;
}
.shopDelete {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background: #333;
  opacity: 0;
}
.shopDelete:hover {
  opacity: 1;
}
.down {
  position: absolute;
  bottom: 200px;
  left: 100px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ddd;
  border-radius: 30px;
}
.down:hover {
  cursor: pointer;
}
